// Define variables for your color scheme

// For example:
$wagon-red: #da552f;
$heart-red: #D23333;
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$normal-gray: #999999;
$light-gray: #F4F4F4;
$light-gray-bis: #E6E6E6;
$medium-gray: #616668;
